ul {
  margin: 0;
  padding: 0 0 56px 0;
  list-style: none;

}

.grid {

  display: grid;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  margin: 3rem;
}

@media (min-width: 300px) {
  .grid { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1200px) {
  .grid { grid-template-columns: repeat(4, 1fr); }
}
