.App {
    font-family: sans-serif;
    text-align: center;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  p {
    margin: 2rem auto;
  }

  .canvass-container2 {
    width: 1000px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin-left: 1rem;
  }