@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$font-stack: 'Ubuntu', sans-serif;
$primary-color:#001C30;
$secundary-color: #64CCC5;
$tertiary-color: #DAFFFB;
$primary-text-color: #176B87;
$light-color: white;
$dark-color: black;


main {
  margin: 1rem 4rem;
}

.cv-main {
    background-color: $light-color;
    color: $primary-text-color;
    header {
        background-color: $secundary-color;
        padding: 32px;
        margin-bottom: 2%;
        border-radius: 20px;
    }
    h1 {
        font-size: 4rem;
        font-weight: 900;
        color: $primary-text-color;
        margin: 0;
        padding-left: 3%;
    
        @media (max-width: 768px) {
            font-size: 3rem;
      }
        @media (max-width: 480px) {
            font-size: 2rem;
      }
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        color: $primary-text-color;
        padding-left: 3%;

        @media (max-width: 768px) {
            font-size: 1.8rem;
      }
        @media (max-width: 480px) {
            font-size: 1.5rem;
      }
    }
    h3 {
        color: $secundary-color;
        font-size: 1.8rem;
        margin-bottom: 5px;
        font-weight: 600;
    }
    header p {
        padding: 2% 4% 2% 4%;
        font-weight: 400;
        font-size: 1.8rem;
        color: $primary-text-color;
        
        @media (max-width: 768px) {
            font-size: 1.5rem;
      }
        @media (max-width: 480px) {
            font-size: 1rem;
      }
    }
    .tab-buttons {
        display: flex;
        border-radius: 20px;
        background-color: $tertiary-color;
       }
      
      @media (max-width: 768px) {
          .tab-buttons {
              flex-direction: column;
          }
        }
    .tab-buttons button {
        display: flex;
        flex-direction: column;
        align-items:  center;
        flex: 1;
        padding: 20px;
        cursor: pointer;
        gap: 15px;
    }
        
    .tab-buttons button.active {
    background-color: $secundary-color;
    border-radius: 20px;
    }


    &.modo-oscuro {
      background-color: $primary-color;
      color: $primary-text-color;
      header {
        background-color: $primary-color;
        padding: 32px;
        margin-bottom: 2%;
        border-radius: 20px;
        border: 1px solid $secundary-color;
    }   
    h1 {
        color: $secundary-color;
    }
    .tab-buttons {
        background-color: $primary-text-color;
        color: $primary-color;
    }   
    .tab-buttons button.active {
        background-color: $secundary-color;
    }   
    }
}

.container-modo-oscuro {
    display: flex;
    justify-content: end;

}

.icon-modo-light {
    width: 3.5rem;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: $dark-color;
    path {
        fill: $light-color;
  }
}

.icon-modo-dark {
    width: 3.5rem;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: $light-color;
    path {
        fill: $dark-color;
  }
}
  
body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;

}

.logos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;

}

.logos-container>div {
    display: flex;
    width: 50px;
    height: 50px;
}

.logo-react, .logo-nodejs {
    padding: 3px;
    background-color: $light-color;
    border-radius: 15px;
}

section {
    margin-bottom: 30px;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    list-style-type: disc;
}

strong {
    font-weight: bold;
}

.containermario {
    position: relative;
    width: 800px;

  }
  
  .jumping-svg {
    cursor: pointer;
  }
  
  .jump-animation {
    animation: jump-animation 0.5s ease-in-out;
  }
  
  @keyframes jump-animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .mario {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: transform 0.2s;
    outline: none;
  }
  
  .walking {
    animation: walk-animation 12s steps(150) infinite;

  }
  
  @keyframes walk-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1400px);
    }
  }

.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#9E8317;}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#F8461C;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFBF7B;}


.tabs {
  width: 100%;
  margin: 0 auto;

}

.tab-content {
    font-size: 1.2rem;
    margin-top: 60px;
    padding: 0 3% 0 3%;
    height: 100vw;
    overflow: auto;
}

