@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.cv-main {
  background-color: white;
  color: #176B87;
}
.cv-main header {
  background-color: #64CCC5;
  padding: 32px;
  margin-bottom: 2%;
  border-radius: 20px;
}
.cv-main h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #176B87;
  margin: 0;
  padding-left: 3%;
}
@media (max-width: 768px) {
  .cv-main h1 {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  .cv-main h1 {
    font-size: 2rem;
  }
}
.cv-main h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #176B87;
  padding-left: 3%;
}
@media (max-width: 768px) {
  .cv-main h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .cv-main h2 {
    font-size: 1.5rem;
  }
}
.cv-main h3 {
  color: #64CCC5;
  font-size: 1.8rem;
  margin-bottom: 5px;
  font-weight: 600;
}
.cv-main header p {
  padding: 2% 4% 2% 4%;
  font-weight: 400;
  font-size: 1.8rem;
  color: #176B87;
}
@media (max-width: 768px) {
  .cv-main header p {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .cv-main header p {
    font-size: 1rem;
  }
}
.cv-main .tab-buttons {
  display: flex;
  border-radius: 20px;
  background-color: #DAFFFB;
}
@media (max-width: 768px) {
  .cv-main .tab-buttons {
    flex-direction: column;
  }
}
.cv-main .tab-buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 20px;
  cursor: pointer;
  gap: 15px;
}
.cv-main .tab-buttons button.active {
  background-color: #64CCC5;
  border-radius: 20px;
}
.cv-main.modo-oscuro {
  background-color: #001C30;
  color: #176B87;
}
.cv-main.modo-oscuro header {
  background-color: #001C30;
  padding: 32px;
  margin-bottom: 2%;
  border-radius: 20px;
  border: 1px solid #64CCC5;
}
.cv-main.modo-oscuro .tab-buttons {
  background-color: #176B87;
  color: #001C30;
}
.cv-main.modo-oscuro .tab-buttons button.active {
  background-color: #64CCC5;
}

.container-modo-oscuro {
  display: flex;
  justify-content: end;
}

.icon-modo-light {
  width: 3.5rem;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: black;
}
.icon-modo-light path {
  fill: white;
}

.icon-modo-dark {
  width: 3.5rem;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: white;
}
.icon-modo-dark path {
  fill: black;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

.logos-container {
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1%;
}

.logos-container > div {
  width: 50px;
  height: 50px;
}

section {
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  list-style-type: disc;
}

strong {
  font-weight: bold;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #9E8317;
}

.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #F8461C;
}

.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFBF7B;
}

.tabs {
  width: 100%;
  margin: 0 auto;
}

.tab-content {
  font-size: 1.2rem;
  margin-top: 60px;
  padding: 0 3% 0 3%;
  height: 900px;
  overflow: auto;
}/*# sourceMappingURL=main.css.map */